<#--  ${comments}公用页面-->
<#--  ${author} ${datetime}-->
    #foreach ($column in $columns)
        <div class="layui-form-item">${(model.bucket)!""}
            <label class="layui-form-label">${column.comments}<span class="span_must">*</span></label>
            <div class="layui-input-normal">
                <input type="text"  name="${column.attrname}" maxlength="${column.maxLength}" lay-verify="required"
                 value="#[[$]]#{(model.${column.attrname})!""}"  placeholder="请输入${column.comments}"  class="layui-input">
            </div>
        </div>

      #end
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div cyType="radioTool" cyProps="enumName:'StateEnum'" name="state"
                 value="#[[$]]#{(model.state)!"1"}" class="layui-input-inline"></div>
        </div>