<#--  ${author} ${datetime}-->

<html>
<head>
    <title>${comments}详情页面</title>
    <#[[#]]#include "../resource.html"/>
</head>
<body>
<div class="layui-field-box">
    <form class="layui-form" action="">
     #foreach ($column in $columns)
        <div class="layui-form-item">
            <label class="layui-label-left">${column.comments}<span class="label_span">:</span></label>
            <label class="layui-label-right">#[[$]]#{(model.${column.attrname})!"-"}</label>
        </div>
      #end
    </form>
</div>

</body>
</html>
