<!DOCTYPE html>
<html>
<head>
    <title>oss配置</title>
<#include "../resource.html"/>
</head>
<body>
<div class="layui-field-box">
    <form class="layui-form" action="">
        <#include "common.html"/>
        <input type="hidden" name="bucket" value="${model.bucket}">
        <div class="page-footer">
            <div class="btn-list">
                <div class="btnlist">
                    <button class="layui-btn" lay-submit="" lay-filter="submit" data-url="/sysoss/update"><i class="fa fa-floppy-o">&nbsp;</i>保存</button>
                    <button class="layui-btn" onclick="$t.closeWindow();"><i class="fa fa-undo">&nbsp;</i>返回</button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>

